<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
  <script src="/static/scripts/cupcakes.js" defer></script>
  <link rel="stylesheet" href="/static/css/generic_styles.css">
  <link rel="stylesheet" href="/static/css/specific_styles.css">
  <title>Cupcakes</title>
</head>

<body>
  <div class="column centered width-90">
    <h1>Available Cupcakes</h1>
    <div class="row wrap align-top gap-1" id="cupcake-row">
    </div>
    <h2 class="margin-half-top">Add New Cupcake</h2>
    <form class="column">
      <div class="">
        <label for="add-flavor" class="form-label">Flavor</label>
        <input type="text" id="add-flavor" class="input-add" required name="flavor">
      </div>
      <div class="">
        <label for="add-size" class="form-label">Size</label>
        <input type="text" id="add-size" class="input-add" required name="size">
      </div>
      <div class="align-l">
        <label for="add-rating" class="form-label">Rating</label>
        <input type="number" id="add-rating" class="input-add" required step="0.1" size="3" name="rating">
      </div>
      <div class="">
        <label for="add-image" class="form-label">Image URL</label>
        <input type="url" id="add-image" class="input-add" name="image">
      </div>
      <button class="button-blue margin-1" id="add-submit">Submit</button>
    </form>
  </div>
</body>

</html>